
body {

    background-color: aquamarine;
}

section {
    border-radius: 15px;
    padding: 20px;
  width: 200px;
  height: 150px;
  box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7),
  -5px 0 5px -5px rgba(0,0,0,0.7);
}
}